.link {
    color: #000;
  }
.link:hover {
     color: #fff;
  }


.list_view{
   width:40rem;
   max-width:90%;
   margin:2rem auto;
   list-style: none;
   padding:0;
}

.main_content{
   margin: 0 1rem; 
   align-items: center;
   justify-content: center;

}
body{
   min-height: 100%;
   padding-top: 3rem;
   font-family: "Open Sans", sans-serif;

}